body{
    padding: 0;
    margin: 0;
 height: 100%;
 background-image: url(./images/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
 background-position: center;
 background-repeat: no-repeat;
 color: beige;
}
